/* 폰트 적용 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

html>body {
	font-family: 'LotteMartDream', sans-serif;
}

/* 라이브러리 */
.table-box-type-1 th, .table-box-type-1 tbody td {
	border: 1px solid black;
	padding: 6px;
	text-align: center;
}

.btn-text-link {
	color: black;
}

.btn-text-link:hover {
	text-decoration: underline;
	color: deepskyblue;
}

header>div>ul>li>ul {
	display: none;
	position: absolute;
	font-size: 0.8em;
}

header>div>ul>li:hover>ul {
	display: block;
	background-color: #03A696;
}

header {
	background-color: #03A696;
}

select {
	width: 200px;
	height: 50px;
}

.page {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* 커스텀 */
table {
	width: 100%;
}

.red {
	color: red;
}

.bgc-red {
	background-color: red;
}

.con {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}

.searchForm {
	display: flex;
}

.utilBar {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 0 10px;
}

.utilBar>.pageInfo {
	width: 20%;
}

.utilBar>.pageInfoBox>h1 {
	display: flex;
	height: 100%;
	font-size: 2rem;
	justify-content: center;
	align-items: center;
}

.utilBar > .searchBox button {
	width: 40px;
	color: white;
	background-color: #03A696;
	transition: .3s;
}

.utilBar > .searchBox button:active {
	scale: 1.1;
}

.bd-red {
	border: 1px solid red;
}